.cpnSystemModal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100001;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cpnSystemModal:empty {
  display: none;
}
.cpnSystemModal:not(:empty):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}
.cpnSystemModal > *:not(:last-child) {
  display: none;
}
